In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlrd
%matplotlib inline

In [266]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

ap_2010 = pd.read_csv('NYC/ap_2010.csv')
class_size = pd.read_csv('NYC/class_size.csv')
demographics = pd.read_csv('NYC/demographics.csv')
graduation = pd.read_csv('NYC/graduations.csv')
hs_directory = pd.read_csv('NYC/hs_directory.csv')
sat_results = pd.read_csv('NYC/sat_result.csv')

data = {'ap_2010':pd.read_csv('NYC/ap_2010.csv'), 'class_size':pd.read_csv('NYC/class_size.csv'), 
        'demographics':pd.read_csv('NYC/demographics.csv'),'graduation':pd.read_csv('NYC/graduations.csv'), 
        'hs_directory':pd.read_csv('NYC/hs_directory.csv'), 'sat_results':pd.read_csv('NYC/sat_result.csv')}
data['class_size']

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN
5,1,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
6,1,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN
7,1,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN
8,1,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN
9,1,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN
10,1,M,M015,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN
11,1,M,M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4
12,1,M,M019,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN
13,1,M,M019,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN
14,1,M,M019,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN
15,1,M,M019,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN
16,1,M,M019,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN
17,1,M,M019,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN
18,1,M,M019,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN
19,1,M,M019,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN
20,1,M,M019,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN
21,1,M,M019,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
22,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN
23,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN
24,1,M,M019,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
25,1,M,M020,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN
26,1,M,M020,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN
27,1,M,M020,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN
28,1,M,M020,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
29,1,M,M020,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN
27586,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN
27587,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN
27588,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN
27589,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN
27590,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN
27591,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN
27592,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN
27593,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN
27594,32,K,K556,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1

In [153]:
for key in data.keys():
    print(data[key].head())

      DBN                             SchoolName  AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.             39.0
1  01M450                 EAST SIDE COMMUNITY HS             19.0
2  01M515                    LOWER EASTSIDE PREP             24.0
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH            255.0
4  02M296  High School of Hospitality Management              NaN

   Total Exams Taken  Number of Exams with scores 3 4 or 5
0               49.0                                  10.0
1               21.0                                   NaN
2               26.0                                  24.0
3              377.0                                 191.0
4                NaN                                   NaN
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2  ... black_num black_per  \
0               281   15  36     40     33  ...        74      26.3
1               243   15  29     39     38  ...        68      28.0
2               261   18  43     39     36  ...        77      29.5
3               252   17  37     44     32  ...        75      29.8
4               208   16  40     28     32  ...        67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n  Total Grads - % of cohort Total Regents - n  \
0             5               s                        NaN                 s
1            55              37                       67.3                17
2            64              43                       67.2                27
3            78              43                       55.1                36
4            78              44                       56.4                37

   Total Regents - % of cohort  Total Regents - % of grads  ...  \
0                          NaN                         NaN  ...
1                         30.9                        45.9  ...
2                         42.2                        62.8  ...
3                         46.2                        83.7  ...
4                         47.4                        84.1  ...

  Regents w/o Advanced - n  Regents w/o Advanced - % of cohort  \
0                        s                                 NaN
1                       17                                30.9
2                       27                                42.2
3                       36                                46.2
4                       37                                47.4

   Regents w/o Advanced - % of grads Local - n  Local - % of cohort  \
0                                NaN         s                  NaN
1                               45.9        20                 36.4
2                               62.8        16                 25.0
3                               83.7         7                  9.0
4                               84.1         7                  9.0

   Local - % of grads Still Enrolled - n  Still Enrolled - % of cohort  \
0                 NaN                  s                           NaN
1                54.1                 15                          27.3
2                37.2                  9                          14.1
3                16.3                 16                          20.5
4                15.9                 15                          19.2

   Dropped Out - n Dropped Out - % of cohort
0                s                       NaN
1                3                       5.5
2                9                      14.1
3               11                      14.1
4               11                      14.1

[5 rows x 23 columns]
      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max  ...  \
0               NaN                NaN  ...
1               NaN                NaN  ...
2               NaN                NaN  ...
3                 9               14.0  ...
4               NaN                NaN  ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...
2  Then to Bronx students or residents who attend...
3  Then to New York City residents who attend an ...
4  Then to Districts 28 and 29 students or residents

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...
3          Then to Manhattan students or residents
4               Then to Queens students or residents

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents
3      Then to New York City residents                              NaN
4      Then to New York City residents                              NaN

  priority06  priority07 priority08  priority09 priority10  \
0        NaN         NaN        NaN         NaN        NaN
1        NaN         NaN        NaN         NaN        NaN
2        NaN         NaN        NaN         NaN        NaN
3        NaN         NaN        NaN         NaN        NaN
4        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4  160-20 Goethals Avenue\nJamaica, NY 11432\n(40...

[5 rows x 58 columns]
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [280]:
all_survey = pd.read_csv('NYC/survey_all.txt', delimiter ='\t', encoding = 'windows-1252') 

d75_survey = pd.read_csv('NYC/survey_d75.txt', delimiter ='\t', encoding = 'windows-1252') 

survey = pd.concat([all_survey, d75_survey], axis =0)

survey.head()

/home/workspace/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22.0,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34.0,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42.0,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29.0,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23.0,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

In [281]:
survey['DBN'] = survey['dbn']

In [282]:
new_col = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]

In [283]:
surv = survey[new_col]

In [284]:
data

{'ap_2010':         DBN                                         SchoolName  \
 0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
 1    01M450                             EAST SIDE COMMUNITY HS
 2    01M515                                LOWER EASTSIDE PREP
 3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
 4    02M296              High School of Hospitality Management
 5    02M298                                   Pace High School
 6    02M300  Urban Assembly School of Design and Construction,
 7    02M303                         Facing History School, The
 8    02M305  Urban Assembly Academy of Government and Law, The
 9    02M308                       Lower Manhattan Arts Academy
 10   02M400                       HS FOR ENVIRONMENTAL STUDIES
 11   02M408                       PROFESSIONAL PERFORMING ARTS
 12   02M411                           BARUCH COLLEGE CAMPUS HS
 13   02M412                       NYC LAB HS FOR COLL. STUDIES
 14   02M413                               SCHOOL OF THE FUTURE
 15   02M414                                  NYC MUSEUM SCHOOL
 16   02M416                      Eleanor Roosevelt High School
 17   02M418                             Millennium High School
 18   02M420                           HEALTH PROF & HUMAN SVCS
 19   02M425                        H S FOR LEADERSHIP & PUBLIC
 20   02M429                                      LEGACY SCHOOL
 21   02M439                       MANHATTAN VILLAGE ACADEMY HS
 22   02M440                                  HS FOR HUMANITIES
 23   02M459                        CES-MANHATTAN INTERNATIONAL
 24   02M460                               WASHINGTON IRVING HS
 25   02M475                                      STUYVESANT HS
 26   02M489                          HS OF ECONOMICS & FINANCE
 27   02M519                                   TALENT UNLIMITED
 28   02M520                               MURRY BERGTRAUM H.S.
 29   02M529                           JACQUELINE K. ONASSIS HS
 ..      ...                                                ...
 228  28Q620                                  THOS A EDISON VHS
 229  28Q680                         GATEWAY TO HEALTH SCIENCES
 230  28Q687                Queens HS for Science York Colllege
 231  28Q690  High School for Law Enforcement and Public Safety
 232  28Q896           Young  Women's Leadership School, Queens
 233  29Q248                         Queens Preparatory Academy
 234  29Q259  Pathways College Preparatory School: A College...
 235  29Q272  George Washington Carver High School for the S...
 236  29Q283                    Preparatory Academy for Writers
 237  29Q420                             SPRINGFIELD GARDENS HS
 238  29Q492                     MATH/SCIENCE RESEARCH TECH CTR
 239  29Q496                     BUSINESS/COMPUTER APPLICATIONS
 240  30Q445                                WM CULLEN BRYANT HS
 241  30Q450                                LONG ISLAND CITY HS
 242  30Q501                          FRANK SINATRA HIGH SCHOOL
 243  30Q502                          INFORMATION TECHNOLOGY HS
 244  30Q555                         NEWCOMERS HS:ACAD AMER STD
 245  30Q575                        ACADEMY OF AMER. STUDIES HS
 246  31R080                         PS 080 MICHAEL J. PETRIDES
 247  31R440                                        NEW DORP HS
 248  31R445                                   PORT RICHMOND HS
 249  31R450                                          CURTIS HS
 250  31R455                                     TOTTENVILLE HS
 251  31R460                                 SUSAN E. WAGNER HS
 252  31R600                                    RAPLH MCKEE VHS
 253  31R605                         STATEN ISLAND TECHNICAL HS
 254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
 255  32K552                          Academy of Urban Planning
 256  32K554               All City Leadership Secondary School
 257  32K556  Bushwick Leaders High School for Academic Exce...

      AP Test Takers   Total Exams Taken  Number of Exams with scores 3 4 or 5
 0               39.0               49.0                                  10.0
 1               19.0               21.0                                   NaN
 2               24.0               26.0                                  24.0
 3              255.0              377.0                                 191.0
 4                NaN                NaN                                   NaN
 5               21.0               21.0                                   NaN
 6               99.0              117.0                                  10.0
 7               42.0               44.0                                   NaN
 8               25.0               37.0                                  15.0
 9                NaN                NaN                                   NaN
 10             213.0              298.0                                 152.0
 11              20.0               20.0                                  15.0
 12              78.0              115.0                                  88.0
 13             114.0              140.0                                  97.0
 14              11.0               11.0                                   NaN
 15               NaN                NaN                                   NaN
 16             155.0              235.0                                 169.0
 17              86.0               95.0                                  67.0
 18             204.0              248.0                                  75.0
 19              70.0               84.0                                  32.0
 20              22.0               26.0                                   NaN
 21              42.0               69.0                                  29.0
 22               6.0                6.0                                   NaN
 23              12.0               12.0                                   6.0
 24              69.0               83.0                                  21.0
 25            1510.0             2819.0                                2648.0
 26             101.0              176.0                                  78.0
 27              30.0               34.0                                  21.0
 28             118.0              157.0                                  76.0
 29              80.0              118.0                                  29.0
 ..               ...                ...                                   ...
 228            183.0              244.0                                 100.0
 229             89.0              136.0                                  57.0
 230            215.0              338.0                                 275.0
 231             19.0               19.0                                   NaN
 232              6.0                6.0                                   NaN
 233             15.0               15.0                                   NaN
 234             29.0               71.0                                   NaN
 235             14.0               21.0                                   NaN
 236             40.0               43.0                                   NaN
 237              NaN                NaN                                   NaN
 238             22.0               31.0                                   8.0
 239              NaN                NaN                                   NaN
 240            243.0              330.0                                  97.0
 241            406.0              805.0                                 169.0
 242            108.0              136.0                                  38.0
 243             51.0               74.0                                  13.0
 244            119.0              163.0                                 140.0
 245            101.0              170.0                                 119.0
 246            162.0              243.0                                  66.0
 247             96.0              118.0                                  62.0
 248            194.0              304.0                                  76.0
 249            247.0              295.0                                  90.0
 250            396.0              687.0                                 206.0
 251            279.0              408.0                                 175.0
 252              NaN                NaN                                   NaN
 253            528.0              905.0                                 809.0
 254             47.0               64.0                                  13.0
 255             76.0              100.0                                  10.0
 256              7.0                8.0                                   NaN
 257             34.0               35.0                                  18.0

 [258 rows x 5 columns], 'class_size':        CSD BOROUGH SCHOOL CODE  \
 0        1       M        M015
 1        1       M        M015
 2        1       M        M015
 3        1       M        M015
 4        1       M        M015
 5        1       M        M015
 6        1       M        M015
 7        1       M        M015
 8        1       M        M015
 9        1       M        M015
 10       1       M        M015
 11       1       M        M015
 12       1       M        M019
 13       1       M        M019
 14       1       M        M019
 15       1       M        M019
 16       1       M        M019
 17       1       M        M019
 18       1       M        M019
 19       1       M        M019
 20       1       M        M019
 21       1       M        M019
 22       1       M        M019
 23       1       M        M019
 24       1       M        M019
 25       1       M        M020
 26       1       M        M020
 27       1       M        M020
 28       1       M        M020
 29       1       M        M020
 ...    ...     ...         ...
 27581   32       K        K556
 27582   32       K        K556
 27583   32       K        K556
 27584   32       K        K556
 27585   32       K        K556
 27586   32       K        K556
 27587   32       K        K556
 27588   32       K        K556
 27589   32       K        K556
 27590   32       K        K556
 27591   32       K        K556
 27592   32       K        K556
 27593   32       K        K556
 27594   32       K        K556
 27595   32       K        K564
 27596   32       K        K564
 27597   32       K        K564
 27598   32       K        K564
 27599   32       K        K564
 27600   32       K        K564
 27601   32       K        K564
 27602   32       K        K564
 27603   32       K        K564
 27604   32       K        K564
 27605   32       K        K564
 27606   32       K        K564
 27607   32       K        K564
 27608   32       K        K564
 27609   32       K        K564
 27610   32       K        K564

                                              SCHOOL NAME GRADE  PROGRAM TYPE  \
 0                              P.S. 015 Roberto Clemente     0K       GEN ED
 1                              P.S. 015 Roberto Clemente     0K          CTT
 2                              P.S. 015 Roberto Clemente     01       GEN ED
 3                              P.S. 015 Roberto Clemente     01          CTT
 4                              P.S. 015 Roberto Clemente     02       GEN ED
 5                              P.S. 015 Roberto Clemente     02          CTT
 6                              P.S. 015 Roberto Clemente     03       GEN ED
 7                              P.S. 015 Roberto Clemente     03          CTT
 8                              P.S. 015 Roberto Clemente     04       GEN ED
 9                              P.S. 015 Roberto Clemente     05       GEN ED
 10                             P.S. 015 Roberto Clemente  0K-09      SPEC ED
 11                             P.S. 015 Roberto Clemente    NaN          NaN
 12                                   P.S. 019 Asher Levy     0K       GEN ED
 13                                   P.S. 019 Asher Levy     0K          CTT
 14                                   P.S. 019 Asher Levy     01       GEN ED
 15                                   P.S. 019 Asher Levy     01          CTT
 16                                   P.S. 019 Asher Levy     02       GEN ED
 17                                   P.S. 019 Asher Levy     03       GEN ED
 18                                   P.S. 019 Asher Levy     04       GEN ED
 19                                   P.S. 019 Asher Levy     04          CTT
 20                                   P.S. 019 Asher Levy     05       GEN ED
 21                                   P.S. 019 Asher Levy     05          CTT
 22                                   P.S. 019 Asher Levy  0K-09      SPEC ED
 23                                   P.S. 019 Asher Levy  0K-09      SPEC ED
 24                                   P.S. 019 Asher Levy    NaN          NaN
 25                                  P.S. 020 Anna Silver     0K       GEN ED
 26                                  P.S. 020 Anna Silver     0K          CTT
 27                                  P.S. 020 Anna Silver     01       GEN ED
 28                                  P.S. 020 Anna Silver     01          CTT
 29                                  P.S. 020 Anna Silver     02       GEN ED
 ...                                                  ...    ...          ...
 27581  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27582  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27583  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27584  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27585  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27586  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27587  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27588  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27589  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27590  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27591  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27592  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27593  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27594  Bushwick Leaders High School for Academic Exce...    NaN          NaN
 27595                     Bushwick Community High School  09-12       GEN ED
 27596                     Bushwick Community High School  09-12       GEN ED
 27597                     Bushwick Community High School  09-12       GEN ED
 27598                     Bushwick Community High School  09-12       GEN ED
 27599                     Bushwick Community High School  09-12       GEN ED
 27600                     Bushwick Community High School  09-12       GEN ED
 27601                     Bushwick Community High School  09-12       GEN ED
 27602                     Bushwick Community High School  09-12       GEN ED
 27603                     Bushwick Community High School  09-12       GEN ED
 27604                     Bushwick Community High School  09-12       GEN ED
 27605                     Bushwick Community High School  09-12       GEN ED
 27606                     Bushwick Community High School  09-12       GEN ED
 27607                     Bushwick Community High School  09-12       GEN ED
 27608                     Bushwick Community High School  09-12       GEN ED
 27609                     Bushwick Community High School  09-12          CTT
 27610                     Bushwick Community High School    NaN          NaN

       CORE SUBJECT (MS CORE and 9-12 ONLY)  \
 0                                        -
 1                                        -
 2                                        -
 3                                        -
 4                                        -
 5                                        -
 6                                        -
 7                                        -
 8                                        -
 9                                        -
 10                                       -
 11                                     NaN
 12                                       -
 13                                       -
 14                                       -
 15                                       -
 16                                       -
 17                                       -
 18                                       -
 19                                       -
 20                                       -
 21                                       -
 22                                       -
 23                                       -
 24                                     NaN
 25                                       -
 26                                       -
 27                                       -
 28                                       -
 29                                       -
 ...                                    ...
 27581                              SCIENCE
 27582                       SOCIAL STUDIES
 27583                       SOCIAL STUDIES
 27584                       SOCIAL STUDIES
 27585                       SOCIAL STUDIES
 27586                              ENGLISH
 27587                              ENGLISH
 27588                              ENGLISH
 27589                                 MATH
 27590                              SCIENCE
 27591                              SCIENCE
 27592                              SCIENCE
 27593                       SOCIAL STUDIES
 27594                                  NaN
 27595                              ENGLISH
 27596                              ENGLISH
 27597                              ENGLISH
 27598                              ENGLISH
 27599                                 MATH
 27600                                 MATH
 27601                              SCIENCE
 27602                              SCIENCE
 27603                              SCIENCE
 27604                              SCIENCE
 27605                       SOCIAL STUDIES
 27606                       SOCIAL STUDIES
 27607                       SOCIAL STUDIES
 27608                       SOCIAL STUDIES
 27609                                 MATH
 27610                                  NaN

       CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
 0                                       -                           -
 1                                       -                           -
 2                                       -                           -
 3                                       -                           -
 4                                       -                           -
 5                                       -                           -
 6                                       -                           -
 7                                       -                           -
 8                                       -                           -
 9                                       -                           -
 10                                      -                      12:1:1
 11                                    NaN                         NaN
 12                                      -                           -
 13                                      -                           -
 14                                      -                           -
 15                                      -                           -
 16                                      -                           -
 17                                      -                           -
 18                                      -                           -
 19                                      -                           -

In [285]:
sur = {'survey':'surv'}

In [286]:
data.update(sur)

In [287]:
data['ap_2010']

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,10.0
1,01M450,EAST SIDE COMMUNITY HS,19.0,21.0,NaN
2,01M515,LOWER EASTSIDE PREP,24.0,26.0,24.0
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,191.0
4,02M296,High School of Hospitality Management,NaN,NaN,NaN
5,02M298,Pace High School,21.0,21.0,NaN
6,02M300,"Urban Assembly School of Design and Construction,",99.0,117.0,10.0
7,02M303,"Facing History School, The",42.0,44.0,NaN
8,02M305,"Urban Assembly Academy of Government and Law, The",25.0,37.0,15.0
9,02M308,Lower Manhattan Arts Academy,NaN,NaN,NaN
10,02M400,HS FOR ENVIRONMENTAL STUDIES,213.0,298.0,152.0
11,02M408,PROFESSIONAL PERFORMING ARTS,20.0,20.0,15.0
12,02M411,BARUCH COLLEGE CAMPUS HS,78.0,115.0,88.0
13,02M412,NYC LAB HS FOR COLL. STUDIES,114.0,140.0,97.0
14,02M413,SCHOOL OF THE FUTURE,11.0,11.0,NaN
15,02M414,NYC MUSEUM SCHOOL,NaN,NaN,NaN
16,02M416,Eleanor Roosevelt High School,155.0,235.0,169.0
17,02M418,Millennium High School,86.0,95.0,67.0
18,02M420,HEALTH PROF & HUMAN SVCS,204.0,248.0,75.0
19,02M425,H S FOR LEADERSHIP & PUBLIC,70.0,84.0,32.0
20,02M429,LEGACY SCHOOL,22.0,26.0,NaN
21,02M439,MANHATTAN VILLAGE ACADEMY HS,42.0,69.0,29.0
22,02M440,HS FOR HUMANITIES,6.0,6.0,NaN
23,02M459,CES-MANHATTAN INTERNATIONAL,12.0,12.0,6.0
24,02M460,WASHINGTON IRVING HS,69.0,83.0,21.0
25,02M475,STUYVESANT HS,1510.0,2819.0,2648.0
26,02M489,HS OF ECONOMICS & FINANCE,101.0,176.0,78.0
27,02M519,TALENT UNLIMITED,30.0,34.0,21.0
28,02M520,MURRY BERGTRAUM H.S.,118.0,157.0,76.0
29,02M529,JACQUELINE K. ONASSIS HS,80.0,118.0,29.0
...,...,...,...,...,...
228,28Q620,THOS A EDISON VHS,183.0,244.0,100.0
229,28Q680,GATEWAY TO HEALTH SCIENCES,89.0,136.0,57.0
230,28Q687,Queens HS for Science York Colllege,215.0,338.0,275.0
231,28Q690,High School for Law Enforcement and Public Safety,19.0,19.0,NaN
232,28Q896,"Young Women's Leadership School, Queens",6.0,6.0,NaN
233,29Q248,Queens Preparatory Academy,15.0,15.0,NaN
234,29Q259,Pathways College Preparatory School: A College...,29.0,71.0,NaN
235,29Q272,George Washington Carver High School for the S...,14.0,21.0,NaN
236,29Q283,Preparatory Academy for Writers,40.0,43.0,NaN
237,29Q420,SPRINGFIELD GARDENS HS,NaN,NaN,NaN
238,29Q492,MATH/SCIENCE RESEARCH TECH CTR,22.0,31.0,8.0
239,29Q496,BUSINESS/COMPUTER APPLICATIONS,NaN,NaN,NaN
240,30Q445,WM CULLEN BRYANT HS,243.0,330.0,97.0
241,30Q450,LONG ISLAND CITY HS,406.0,805.0,169.0
242,30Q501,FRANK SINATRA HIGH SCHOOL,108.0,136.0,38.0
243,30Q502,INFORMATION TECHNOLOGY HS,51.0,74.0,13.0
244,30Q555,NEWCOMERS HS:ACAD AMER STD,119.0,163.0,140.0
245,30Q575,ACADEMY OF AMER. STUDIES HS,101.0,170.0,119.0
246,31R080,PS 080 MICHAEL J. PETRIDES,162.0,243.0,66.0
247,31R440,NEW DORP HS,96.0,118.0,62.0
248,31R445,PORT RICHMOND HS,194.0,304.0,76.0
249,31R450,CURTIS HS,247.0,295.0,90.0
250,31R455,TOTTENVILLE HS,396.0,687.0,206.0
251,31R460,SUSAN E. WAGNER HS,279.0,408.0,175.0
252,31R600,RAPLH MCKEE VHS,NaN,NaN,NaN
253,31R605,STATEN ISLAND TECHNICAL HS,528.0,905.0,809.0
254,32K545,EBC-HS FOR PUB SERVICE (BUSH),47.0,64.0,13.0
255,32K552,Academy of Urban Planning,76.0,100.0,10.0
256,32K554,All City Leadership Secondary School,7.0,8.0,NaN
257,32K556,Bushwick Leaders High School for Academic Exce...,34.0,35.0,18.0

In [288]:
len(new_col[0])

3

In [289]:
class_size['CSD'].apply(add0)

225      01
226      01
227      01
228      01
229      01
231      01
232      01
233      01
234      01
235      01
236      01
237      01
238      01
239      01
295      01
296      01
354      01
356      01
357      01
358      01
359      01
360      01
361      01
362      01
363      01
364      01
365      01
366      01
367      01
368      01
         ..
27569    32
27571    32
27572    32
27573    32
27574    32
27575    32
27576    32
27577    32
27578    32
27579    32
27580    32
27581    32
27582    32
27583    32
27584    32
27585    32
27595    32
27596    32
27597    32
27598    32
27599    32
27600    32
27601    32
27602    32
27603    32
27604    32
27605    32
27606    32
27607    32
27608    32
Name: CSD, Length: 6513, dtype: object

In [126]:
'''for i in range(len(class_size)):
    if len(str(class_size['CSD'][i])) == 2:
        print (class_size['CSD'][i])
    elif len(str(class_size['CSD'][i])) == 1:
        (str(0)+str(class_size['CSD'][i]))'''

"for i in range(len(class_size)):\n    if len(str(class_size['CSD'][i])) == 2:\n        print (class_size['CSD'][i])\n    elif len(str(class_size['CSD'][i])) == 1:\n        (str(0)+str(class_size['CSD'][i]))"

In [290]:
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]

def pad_csd(num):
    return str(num).zfill(2)# zfill() adds zero as precedence
    
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)
data["class_size"]["DBN"] = data["class_size"]["padded_csd"] + data["class_size"]["SCHOOL CODE"]
print(data["class_size"].head())

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015
3         01  01M015
4         01  01M015

In [291]:
data['sat_results']

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEâ€“BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s
469,75M035,P.S. 035,s,s,s,s
470,75Q256,P.S. Q256,s,s,s,s
471,75Q811,P.S. Q811,32,429,444,433
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [292]:
data['sat_results']['SAT Math Avg. Score'] = pd.to_numeric(data['sat_results']['SAT Math Avg. Score'], errors = 'coerce')
data['sat_results']['SAT Critical Reading Avg. Score'] = pd.to_numeric(data['sat_results']['SAT Critical Reading Avg. Score'], errors = 'coerce')
data['sat_results']['SAT Writing Avg. Score'] = pd.to_numeric(data['sat_results']['SAT Writing Avg. Score'], errors = 'coerce')

In [293]:
data['sat_results']['sat_score'] = data['sat_results']['SAT Math Avg. Score'] + data['sat_results']['SAT Critical Reading Avg. Score'] + data['sat_results']['SAT Writing Avg. Score']

In [294]:
data['sat_results']['sat_score']

0      1122.0
1      1172.0
2      1149.0
3      1174.0
4      1207.0
5      1205.0
6      1621.0
7      1246.0
8      1856.0
9      1182.0
10     1194.0
11     1156.0
12     1111.0
13     1293.0
14     1269.0
15     1051.0
16     1148.0
17     1200.0
18     1188.0
19     1127.0
20     1176.0
21     1435.0
22        NaN
23        NaN
24     1188.0
25        NaN
26     1419.0
27     1424.0
28     1522.0
29     1577.0
        ...
448    1636.0
449    1353.0
450    1195.0
451    1426.0
452    1277.0
453    1279.0
454    1301.0
455    1418.0
456    1388.0
457    1335.0
458    1235.0
459    1953.0
460    1150.0
461    1098.0
462    1154.0
463    1035.0
464    1060.0
465    1315.0
466    1055.0
467    1034.0
468       NaN
469       NaN
470       NaN
471    1306.0
472       NaN
473       NaN
474       NaN
475       NaN
476    1322.0
477    1097.0
Name: sat_score, Length: 478, dtype: float64

In [295]:
import re # extract latitude from column
def ext (col):
    col = re.findall("\(.+\)", col)
    col = col[0].split(',')[0].replace('(', '')
    return col

In [296]:
data['hs_directory']['lat'] = data['hs_directory']['Location 1'].apply(ext)

In [297]:
data['hs_directory']['lat']

0       40.67029890700047
1        40.8276026690005
2      40.842414068000494
3       40.71067947100045
4      40.718810094000446
5      40.840513977000455
6       40.71196311300048
7       40.73248537800049
8      40.713577459000476
9        40.6978073300005
10      40.83695342600049
11      40.71067947100045
12      40.86604554900049
13      40.74218869400045
14      40.88005009300048
15      40.84887878800049
16      40.64866366300049
17      40.77429641100048
18      40.81113885600047
19      40.82230376500047
20     40.840513977000455
21      40.69717472700046
22      40.59865238600048
23     40.713577459000476
24      40.81091785300049
25      40.86001222100049
26      40.77429641100048
27      40.63490809500047
28      40.69693735800047
29      40.59359381100046
              ...
405     40.74509351900048
406     40.82117077000049
407     40.73551946300046
408      40.6595170060005
409     40.75239242400045
410    40.528228767000485
411    40.760414170000445
412    40.765445402000466
413    40.696961848000456
414    40.855938307000486
415     40.75517483300047
416     40.84180522100047
417     40.63333549400045
418     40.72560316100049
419     40.69114396200047
420    40.716412393000496
421     40.82230376500047
422    40.746106375000466
423    40.763361732000476
424     40.58413137400049
425     40.64943967500045
426     40.82522606000049
427     40.71503755100048
428     40.76502670800045
429     40.59359381100046
430     40.85464659900049
431     40.85969831600045
432     40.87575421100047
433     40.70523493900049
434     40.73440841000047
Name: lat, Length: 435, dtype: object

In [298]:
import re # extract latitude from column
def ext_lon (col):
    col = re.findall("\(.+\)", col)
    col = col[0].split(',')[1].replace(')', '').strip()
    return col

In [299]:
data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(ext_lon)

In [300]:
data['hs_directory']['lon'] = pd.to_numeric(data['hs_directory']['lon'], errors = 'coerce')
data['hs_directory']['lat'] = pd.to_numeric(data['hs_directory']['lat'], errors = 'coerce')

In [301]:
class_size = data['class_size']
class_size = class_size[class_size['GRADE '] == '09-12']
class_size = class_size[class_size['PROGRAM TYPE'] == 'GEN ED']

In [302]:
data['class_size']

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015
5,1,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
6,1,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01,01M015
7,1,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015
8,1,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01,01M015
9,1,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01,01M015
10,1,M,M015,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01,01M015
11,1,M,M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01,01M015
12,1,M,M019,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01,01M019
13,1,M,M019,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01,01M019
14,1,M,M019,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01,01M019
15,1,M,M019,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01,01M019
16,1,M,M019,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01,01M019
17,1,M,M019,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01,01M019
18,1,M,M019,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01,01M019
19,1,M,M019,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01,01M019
20,1,M,M019,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01,01M019
21,1,M,M019,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M019
22,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01,01M019
23,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01,01M019
24,1,M,M019,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01,01M019
25,1,M,M020,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN,01,01M020
26,1,M,M020,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01,01M020
27,1,M,M020,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN,01,01M020
28,1,M,M020,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M020
29,1,M,M020,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN,01,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32,32K556
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32,32K556
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32,32K556
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN,32,32K556
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN,32,32K556
27586,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN,32,32K556
27587,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN,32,32K556
27588,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN,32,32K556
27589,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32,32K556
27590,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32,32K556
27591,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN,32,32K556
27592,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32,32K556
27593,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN,32,32K556
27594,32,K,K556,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7,32,32K556
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32,32K564
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32,32K564
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32,32K564
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32,32K564
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32,32K564
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32,32K564
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32,32K564
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32,32K564
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32,32K564
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32,32K564
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32,32K564
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32,32K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32,32K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32,32K564
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32,32K564
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32,32K564